<?xml version="1.0"?>
<model>
    <name>iRonCub-Mk1_1_Gazebo</name>

    <version>1.1</version>
  
    <sdf version='1.4'>model.urdf</sdf>

    <author>
        <name>Punith Vanteddu</name>
        <email>punith.vanteddu@iit.it</email>
    </author>

    <description>
        Model for the iRonCub humanoid robot.
    </description>
</model>
