<?xml version="1.0"?>
<model>
    <name>iRonCub-Mk1_Gazebo</name>

    <version>1.0</version>
    <sdf version='1.4'>model.urdf</sdf>

    <author>
        <name>Fabio Bergonti</name>
        <email>fabio.bergonti@iit.it</email>
    </author>

    <description>
        Gazebo model for the iRonCub humanoid robot.
    </description>
</model>
